extends layout

block content
	link(href="/css/login.css", rel="stylesheet")
	div.container
		form.form-signin(action="/login" method="post")
			h2.form-signin-heading Please sign in
			label.sr-only(for="inputEmail") Email
			input.form-control(type="email", id="inputEmail", name="email", placeholder="Email Address")
			label.sr-only(for="inputPassword") Password
			input.form-control(type="password", id="inputPassword", name="password", placeholder="Password")
			button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign In
